/*Add CSS styles here*/

body{
    margin:0;
}

.custom-popup .leaflet-popup-content p {
    margin: 0.2em 0;    
}

.custom-popup .leaflet-popup-content-wrapper {
    background:#0881fa;
    color:#fff;
    text-align: center;
    font-size:16px;
    border-radius: 50px;  
}

.custom-popup .leaflet-popup-tip {
    background:#95c6f7;
    }

#mapid{
    height:100vh;
    width:70vw;
    display: inline-block;
}

#panel {
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
    background:#a2caf3;
}

.range-slider {    
    width: 55%;
    display: inline-block;
    vertical-align: 25%;
    text-align: center;
    line-height: 42px;        
}

.step {
    width: 20%;
}

.step img {
    width: 75%;          
}