/*Add CSS styles here*/

body{
    margin:0;    
}

.custom-popup .leaflet-popup-content p {
    margin: 0.2em 0;    
}
.custom-popup .leaflet-popup-content-wrapper {
    background:#0d78e2;
    color:#fff;
    font-size:14px;    
}  
  
/*the mapid and the panel should be side-by-side
and the display settings should equal to each other indicating the elements are lin-line with each other.
If display is not set, the panel will be below the map.*/

#mapid {
    height: 400px;
    width: 100%;
    display: inline-block;
}

/*#panel {
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}*/

.sequence-control-container {
    width: 350px;
    height: 35px;
    background-color: rgba(255,255,255,0.6);  
    padding: 10px;  
    line-height: 30px;  
    text-align: center;  
    border: solid gray 1px;
    border-radius: 10px;
}

/*.range-slider {    
    width: 55%;
    display: inline-block;
    vertical-align: 30%;
    text-align: center;
    line-height: 42px;        
}*/

.range-slider {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 75%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none;    
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    vertical-align: 30%;   
}

/* Mouse-over effects */
.range-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    background: #04AA6D; /* Green background */    
    cursor: pointer; /* Cursor on hover */
}
  
.range-slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 30%;
    background: #04AA6D; /* Green background */    
    cursor: pointer; /* Cursor on hover */
}

.step {
    width: 40px;
}

.step img {
    width: 100%;
    height: auto;                        
}

.legend-control-container {
    width: auto;
    height: auto;
    background: #fafafa;
    border-radius: 10%;
    opacity: 0.8;
    font-size:14px;
    text-align: center;
    padding: 5px;
}

