/*Add CSS styles here*/

body{
    margin:0;
}

.custom-popup .leaflet-popup-content p {
    margin: 0.2em 0;    
    /*display:inline;*/
}

.custom-popup .leaflet-popup-content-wrapper {
    background:#0881fa;
    color:#fff;
    text-align: center;
    font-size:16px;
    border-radius: 20px;
    border: 2px black solid;
    /*box-shadow:50% 50%;*/ 
}

.custom-popup .leaflet-popup-tip {
    background:#95c6f7;
    }

.popupImage {
    max-width: 15%;
    max-height: 15%;    
    }

#mapid{
    height:100vh;
    width:100%;
    display: inline-block;
}

/*#panel {
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
    background:#a2caf3;
}*/

/*.range-slider {    
    width: 55%;
    display: inline-block;
    vertical-align: 30%;
    text-align: center;
    line-height: 42px;        
}*/

.sequence-control-container {
    width: 350px;
    height: 35px;
    background-color: rgba(255,255,255,0.6);  
    padding: 10px;  
    line-height: 30px;  
    text-align: center;  
    border: solid gray 1px;
    border-radius: 10px;
}

.range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 75%; 
    height: 10px; 
    background: #d3d3d3; 
    outline: none;    
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    vertical-align: 30%;   
}

.range-slider:hover {
    opacity: 1; 
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    background: #043eaa;     
    cursor: pointer; 
}
  
.range-slider::-moz-range-thumb {
    width: 20px; 
    height: 20px; 
    border-radius: 30%;
    background: #04AA6D;     
    cursor: pointer; 
}

.step {
    width: 40px;
}

.step img {
    width: 100%;
    height: auto;         
}

.legend-control-container {
    width: auto;
    height: auto;
    background: #fafafa;
    border-radius: 10%;
    opacity: 0.8;
    font-size:14px;
    text-align: center;
    padding: 5px;
}