/*Add CSS styles here*/

body{
    margin:0;     
}

/*#title {
    padding: 5px;
    text-align: center;
    font-size:18px;
    font-family: 'Times New Roman';
    background:#3093f7;
    display:center;
}*/

#title_text {
    padding-right: 140px;
    padding-left: 20px;
    text-align: center;    
    font-size:34px;    
    color:#fff;
    background:#3093f7;
    display:center;    
}

#meta_text {
    font-size:10px;    
    color:#fff;
}

#info_text {
    padding-top: 50px;    
    font-size:14px;    
    color:#fff;
    background:#3093f7;    
    width: 350px;
    height: 725px;
}

.custom-popup .leaflet-popup-content p {
    margin: 0.2em 0;    
    /*display:inline;*/
}

.custom-popup .leaflet-popup-content-wrapper {
    background:#3093f7;
    color:#fff;
    text-align: center;
    font-size:16px;
    border-radius: 20px;
    border: 2px black solid;
    /*box-shadow:50% 50%;*/ 
}

.custom-popup .leaflet-popup-tip {
    background:#95c6f7;
    }

.popupImage {
    max-width: 15%;
    max-height: 15%;    
    }

.popup_Image {
     max-width: 3.5%;
     max-height: 3.5%;     
     text-align: center;
     display:center;   
    }    

#mapid{
    height:100vh;
    width:100%;
    display: inline-block;
}

/*#panel {
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
    background:#a2caf3;
}*/

.sequence-control-container {
    width: 350px;
    height: 35px;
    background-color: rgba(255,255,255,0.7);  
    padding: 10px;  
    line-height: 30px;  
    text-align: center;  
    border: solid gray 1px;
    border-radius: 10px;
}

.range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 75%; 
    height: 8px; 
    background: #74c4f1; 
    outline: none;    
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    vertical-align: 35%;   
}

.range-slider:hover {
    opacity: 1; 
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    background: #3093f7;     
    cursor: pointer; 
}
  
.range-slider::-moz-range-thumb {
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    background: #3093f7;     
    cursor: pointer; 
}

.step {
    width: 40px;
}

.step img {
    width: 100%;
    height: auto;         
}

.legend-control-container {
    width: 260px;
    height: 220px;
    background: #fafafa;
    border-radius: 10%;
    opacity: 0.8;
    font-size:14px;
    text-align: center;
    padding: 5px;
}

.temporalLegend {
    font-size:18px;
}